<div class="ember-table-table-fixed-wrapper">
  {{#if controller.numFixedColumns}}
    {{view "header-block" classNames="ember-table-left-table-block"
      columns=fixedColumns
      width=_fixedBlockWidth
      height=headerHeight
    }}
  {{/if}}
  {{#if hasColumnGroup}}
    {{view "header-groups-block" classNames="ember-table-header-groups-block"
    columnGroups=columnGroups
    scrollLeft=_tableScrollLeft
    headerHeight=headerHeight
    }}
  {{else}}
    {{view "header-block" classNames="ember-table-right-table-block"
    columns=tableColumns
    scrollLeft=_tableScrollLeft
    width=_tableBlockWidth
    height=headerHeight
    }}
  {{/if}}
</div>
